In [1]:
1

1

In [2]:
1+2

3

#### 텍스트를 편집하는 셀입니다

- ctrl + Enter : 현재 셀을 실행하고 현재 셀에 그대로 있음 
- shift + Enter : 현재 셀을 실행하고 다음 셀로 이동
- alt + Enter : 현재 셀을 실행하고 다음에 셀을 새로 생성

#### Command mode의 단축키

- Esc : Command mode로 전환
- a : 위쪽에 cell 추가
- b : 아래쪽에 cell 추가
- m : code 창을 text 창으로 전환
- y : text 창으로 code 창으로 전환
- dd : 현재 셀을 삭제

텍스트 창입니다

### 주석

- 프로그램의 실행에 영향을 주지않고 설명을 추가
- \# 다음에 주석을 작성

In [3]:
1 + 4    # +는 더하기 연산자

5

### 변수

- 필요할 때마다 값을 가져다 쓸 수 있도록 값을 저장해 놓는 공간

변수명 = 값

In [4]:
a = 100

In [5]:
a

100

In [6]:
a + 20

120

변수에는 정수, 실수, 문자, 논리 등을 저장할 수 있다

In [7]:
c = 3.40
d = "Python"
e = True

In [8]:
c

3.4

In [9]:
d

'Python'

In [10]:
e

True

name 변수에 이름, iq 라는 변수에 아이큐를 저장해보세요

In [11]:
name = "홍길동"
iq = 230

In [12]:
name

'홍길동'

In [13]:
iq

230

출력문 : print() 함수
- () 안에 내용을 출력하는 기능을 함
- () 안에는 값이나 변수를 사용할 수 있음

In [14]:
print(100)

100

In [15]:
print("홍길동")

홍길동

In [16]:
print(a)

100

In [17]:
print(a + 20)

120

In [18]:
# 여러 값을 출력한다면 컴머(,)로 구분
print(100, "홍길동")

100 홍길동

In [19]:
print(a, "홍길동")

100 홍길동

In [20]:
print(a, c)

100 3.4

name에 "홍길동"을 저장하고 age에 20 저장한 후에 "홍길동 : 20"과 같이 출력

In [21]:
a
c

3.4

In [22]:
print(a)
print(c)

100
3.4

In [23]:
a, c

(100, 3.4)

In [24]:
num3 = 3.1425
num4 = 1.25
num5 = 3.0

num3, num4, num5

(3.1425, 1.25, 3.0)

문자 "Hello World"를 쌍따옴표를 써서 str1변수에 외따옴표를 써서 str2에 저장하고 출력

In [25]:
str1 = "Hello World"
str2 = 'Hello World'

print(str1, "   ", str2)

Hello World     Hello World

#### 변수명 작성 규칙

- (1) 변수명은 영문자, 숫자, _ 만을 사용할 수 있다.  
- (2) 영문자는 대소문자를 구별한다
- (3) 첫 번째 문자로 숫자가 올 수 없다.
- (4) 특수문자 (#, $, / 등)는 쓸 수 없다.
- (5) 명령어를 변수명으로 사용할 수 없다

#### 변수명 작성 시 권장사항

- (6) 변수명은 가능한한 의미를 알 수 있도록 작성한다
- (7) 두 개 단어 이상으로 구성된 변수명은 _나 두번째 단어의 첫단어를 대문자를 사용하여 구분
- (8) 한 단어로 구성된 변수명은 가능한한 소문자를 사용한다

In [26]:
# (1) 변수명은 영문자, 숫자, _ 만을 사용할 수 있다.
a = 10
a1 = 20
a_ = 30

a, a1, a_

(10, 20, 30)

In [27]:
# (4) 특수문자 (#, $, / 등)는 쓸 수 없다.
$a = 10

SyntaxError: invalid syntax (<ipython-input-27-66d0cffb9b84>, line 2)

In [ ]:
# (2) 영문자는 대소문자를 구별한다
num = 100

Num

In [ ]:
# (3) 첫 번째 문자로 숫자가 올 수 없다.
1a = 20

In [ ]:
# (5) 명령어를 변수명으로 사용할 수 없다
#print = 20
#print

In [28]:
print(100)

100

In [29]:
# (6) 변수명은 가능한한 의미를 알 수 있도록 작성한다
a = 30
a

30

In [30]:
age = 30
age

30

In [31]:
# (7) 두 개 단어 이상으로 구성된 변수명은 _나 두번째 단어의 첫단어를 대문자를 사용하여 구분
chapternumber = 5

chapternumber

5

In [32]:
chapter_number = 5
chapterNumber = 5

In [33]:
# (8) 한 단어로 구성된 변수명은 가능한한 소문자를 사용한다
Num = 10

In [34]:
num = 10

[문제] 다음중에서 변수명이 잘못된 것을 고르고 이유를 설명하시오.

P-20, number 5, 30day, if, $a, Party

파이썬의 독특한 값 대입 방법

In [35]:
a = 10
b = 30
a, b

(10, 30)

In [37]:
c, d = 20, 49

c, d

(20, 49)

str1에 "홍길동", str2에 "의적"을 = 을 하나만써서 저장

In [38]:
str1, str2 = "홍길동", "의적"

str1, str2

('홍길동', '의적')

In [39]:
# a1, a2, a3에 100을 저장

a1 = 100
a2 = 100
a3 = 100

In [40]:
a1 = a2 = a3 = 200

a1, a2, a3

(200, 200, 200)

- 변수 x에 10을 저장, 변수 y에 20을 저장
- 변수 sum에 x와 y의 합을 저장
- print() 함수로 sum을 출력

sum = 30

In [42]:
x , y = 10, 20

sum = x + y

print("sum = ", sum)

sum =  30

she's gone 를 출력

In [43]:
str = 'she's gone'

SyntaxError: invalid syntax (<ipython-input-43-44138cd4081f>, line 1)

In [46]:
# 문자 내부에 외따옴표나 쌍다옴표가 있는 경우
# - 문자열을 같은 따옴표로 묶어주면 안됨

str = "she's gone"

str

"she's gone"

In [47]:
str1 = "he said "Haha""

SyntaxError: invalid syntax (<ipython-input-47-0151927708dd>, line 1)

In [49]:
str1 = 'he said "Haha"'
str1

'he said "Haha"'

In [50]:
str1 = 'She's said "Hoho"'

SyntaxError: invalid syntax (<ipython-input-50-11f256fd75e6>, line 1)

In [51]:
str2 = "She's said "Hoho""

SyntaxError: invalid syntax (<ipython-input-51-ab25eb0a09fa>, line 1)

In [64]:
# 특수문자를 문자열 안에 포함시키고자하는 경우에는 \와 같이 사용
str4 = "She\'s said \"Hoho\""

print(str4)

She's said "Hoho"

변수에 여러 줄의 문자를 넣을 경우

In [65]:
str5 = "안녕하세요
      반갑습니다"

SyntaxError: EOL while scanning string literal (<ipython-input-65-2ae9488d3461>, line 1)

In [67]:
# \n : 줄 넘김 문자
str6 = "안녕하세요\n반갑습니다"  

print(str6)

안녕하세요
반갑습니다

In [69]:
name = "홍길동"
age = 30
job = "의적"

# print() 한 개를 사용해서 아래처럼 출력되도록 하보세요
# 이름 : 홍길동
# 나이 : 30
# 직업 : 의적

print("이름 : ", name, "\n나이 : ", age, "\n직업 : ", job)

이름 :  홍길동
나이 :  30
직업 :  의적

In [72]:
# \t : 탭 간격만큼 띄우는 기능
print("홍길동\t", "20")
print("홍길\t", "20")
print("홍\t", "20")

홍길동	 20
홍길	 20
홍	 20

In [73]:
# 아래와 같이 출력되도록 출력문을 만들어 보세요
# 이름     나이    직업
# =====================
# 홍길동   30      의적

In [79]:
print("이름\t나이\t직업")
print("이름", "\t", "나이", "\t", "직업")
print("=====================")
print(name, "\t", age, "\t", job)

이름	나이	직업
이름 	 나이 	 직업
=====================
홍길동 	 30 	 의적

변수에 여러 줄의 문자열을 저장하는 방법2

- '''내용''' 또는 """내용"""

In [82]:
str5 = '''안녕하세요
파이썬 수업중입니다'''

print(str5)

안녕하세요
파이썬 수업중입니다

In [83]:
str6 = """안녕하세요
파이썬 수업중입니다"""

print(str6)

안녕하세요
파이썬 수업중입니다

### indexing과 slicing

- indexing : 해당 인덱스 (번호, 메모리주소)의 값을 가져오는 것
- slicing : 해당 시작 인덱스와 끝 인덱스 사이의 값을 가져오는 것

In [85]:
#      01234567890123456789012345   (왼쪽 인덱스)
str = "Python is easy and simple."
#      65432109876543210987654321   (오른쪽 인덱스)

In [87]:
# 인덱스값은 대괄호를 사용하여 설정
print(str[13])
print(str[-13])

y
y

In [88]:
print(str[11])
print(str[-21])

a
n

slicing 

\[시작인덱스 : 끝인덱스 + 1 \]

In [89]:
#      01234567890123456789012345   (왼쪽 인덱스)
str = "Python is easy and simple."
#      65432109876543210987654321   (오른쪽 인덱스)

In [90]:
print(str[7:9])

is

In [91]:
print(str[7:-17])

is

In [92]:
# and
print(str[15:18])
print(str[-11:-8])

and
and

생략된 slicing

In [95]:
#(1) 시작 인덱스를 생략하면 0인덱스부터 시작
print(str[0:6])
print(str[:6])

Python
Python

In [100]:
#(2) 끝 인덱스를 생략하면 끝 인덱스까지 가져옴

# simple. 을 출력
print(str[19:26])
print(str[19:])
print(str[-7:0])
print(str[-7:])

simple.
simple.

simple.

In [101]:
#(3) 시작 인덱스와 끝 인덱스를 생략하면 전체 값을 가져옴
print(str[:])

Python is easy and simple.

[문제] 다음과 같은 문자가 저장되어 있을때

     str_info = "20200706Sunny"
     
아래와 같이 출력하도록 해보세요

년도 : 2020년 <br>
월일 : 07월 06일 <br>
날씨 : Sunny <br>

In [103]:
str_info = "20200706Sunny"
print("년도 :",str_info[:4],"년"
     "\n월일 :",str_info[4:6],"월",str_info[6:8],"일"
     "\n날씨 :",str_info[-5:])

년도 : 2020 년
월일 : 07 월 06 일
날씨 : Sunny

### 문자열 포맷팅 (Formatting)

- 출력 형식을 지정해서 값을 출력하는 것

In [104]:
s = "오늘은 12월 30일입니다"

In [107]:
# 방법 1
# 오늘은 12월 31일입니다 라고 출력하려면

day = 31

# %d : 정수형 (decimal)
# %f : 실수형 (float)
# %c : 문자 1개 (charactor)
# %s : 문자열 (string)
s = "오늘은 12월 %d일입니다"%day
s

'오늘은 12월 31일입니다'

In [110]:
# 오늘은 1월 1일입니다

month = 1
day = 1

s = "오늘은 %d월 %d일입니다"%(month, day)
s

'오늘은 1월 1일입니다'

[ 문제 ]

s = "12월 30일 날씨는 눈이고 온도는 10.5도입니다"

month = 1<br>
day = 1<br>
weather = "맑음"<br>
temp = 12.3<br>

1월 1일 날씨는 맑음이고 온도는 12.3도입니다

In [111]:
month = 1
day = 1
weather = "맑음"
temp = 12.3

# %.1f : 소수점 1째자리까지만 출력
s = "%d월 %d일 날씨는 %s이고 온도는 %.1f도입니다"%(month,day,weather,temp)

print(s)

1월 1일 날씨는 맑음이고 온도는 12.3도입니다

In [115]:
# format() 를 이용해서 출력형식을 지정
# 타입을 지정하지 않아도 됨
# 값을 출력할 위치에 {}를 표시
# format()함수에 순서대로 값을 지정
s = "{}월 {}일 날씨는 {}이고 온도는 {}도입니다"\
       .format(month, day, weather, temp)

print(s)

1월 1일 날씨는 맑음이고 온도는 12.3도입니다

In [1]:
str = "10000원"

print("{}원".format(1000))

1000원

### 문자열 함수

In [8]:
str1 = "Python is easy and simple"
str2 = "Python은 쉽고 python은 단순한 언어입니다"

len() : 문자열의 길이 (문자열속에 포함된 문자의 수) 반환

In [7]:
print("str1의 길이 : ", len(str1))

str의 길이 :  25

count("문자") : 문자열에 포함된 해당 문자의 수를 계수

In [9]:
print("str1에 포함된 i의 개수 : ", str1.count("i"))

str1에 포함된 i의 개수 :  2

- index("문자") : 문자열에서 해당 문자의 위치를 반환
- find("문자") : 문자열에서 해당 문자의 위치를 반환

In [11]:
print("str1에서 e의 위치 : ", str1.index("e"))
print("str1에서 e의 위치 : ", str1.find("e"))

str1에서 e의 위치 :  10
str1에서 e의 위치 :  10

In [12]:
# 없는 문자를 검색하면 에러가 발생
print("str1에서 k의 위치 : ", str1.index("k"))

ValueError: substring not found

In [13]:
# 없는 문자를 검색하면 -1를 반환
print("str1에서 k의 위치 : ", str1.find("k"))

str1에서 k의 위치 :  -1

"문자1".join("문자열") : 문자열에 포함된 문자들 사이에 "문자1"을 삽입

In [18]:
# 문자들 사이에 빈 공백을 추가
print("/".join(str1[:6]))

P/y/t/h/o/n

- upper() : 영문자를 대문자로 변경
- lower() : 영문자를 소문자로 변경

In [19]:
print(str1.upper())
print(str1.lower())

PYTHON IS EASY AND SIMPLE
python is easy and simple

- lstrip() : 왼쪽에 있는 공백을 제거
- rstrip() : 오른쪽에 있는 공백을 제거
- strip() : 양쪽에 있는 공백을 제거

In [21]:
str3 = "  Python   "

print(str3.lstrip())
print(str3.rstrip())
print(str3.strip())

Python
  Python
Python

문자열.replace("문자1", "문자2") : 문자열 내의 문자1을 문자2로 변경

In [22]:
print(str1.replace(" ", "_"))

Python_is_easy_and_simple

문자열.split("문자") : 문자열을 문자을 기준으로 분리

In [23]:
print(str1.split(" "))

['Python', 'is', 'easy', 'and', 'simple']