### 산술연산자

- \+ (덧셈), - (뺄셈), * (곱셈), / (나눗셈), // (몫), % (나머지)

In [3]:
num1 = 10
num2 = 5

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 // num2)
print(num1 % num2)

15
5
50
2.0
2
0

\+ 가 문자열을 만나면 ?

In [4]:
str1 = "10"
str2 = "5"

# + 연산자가 문자열을 만나면 연결(결합) 연산자로 사용
str1 + str2

'105'

In [5]:
# 숫자와 문자를 산술연산하면 ?
num1 + str1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

그래도 숫자형태의 문자열을 더하고 싶다면

int("문자로된 숫자") : 문자로 된 수를 정수형으로 변환

In [6]:
int(str1) + int(str2)

15

숫자들을 연산하지 안하고 연결하고 싶다면

str(숫자) : 숫자를 문자형으로 변환

In [8]:
str(num1) + str(num2)

'105'

#### 값을 사용자로부터 입력받아서 사용

- input() : 사용자로부터 값을 입력받는 함수 
- 기본적으로 문자열로 입력을 받음

In [10]:
name = input()

name

홍길동

'홍길동'

In [13]:
age = input("나이를 입력하세요 >> ")

age

나이를 입력하세요 >> 30

'30'

In [15]:
num1 = int(input("첫 번째 숫자를 입력 >> "))
num2 = int(input("두 번째 숫자를 입력 >> "))

print(num1 + num2)

첫 번째 숫자를 입력 >> 10
두 번째 숫자를 입력 >> 20
30

2개의 수를 입력받아서 산술연산 (6가지)를 수행해보세요

float() : 문자열을 실수형으로 변환

In [20]:
pi = "3.1415"
r = 20

#원의 면적으로 구하기
area = r * r * float(pi)

print(area)

print("%.2f"%area)

1256.6000000000001
1256.60

국어, 영어, 수학 점수를 입력받아서 총점과 평균을 출력해보세요

국어 점수 입력 >> 80 <br>
영어 점수 입력 >> 80 <br>
수학 점수 입력 >> 80 <br>

점수 총점 : 240 <br>
점수 평균 : 80.0 <br>

초를 입력해서 시 분 초를 출력

In [23]:
time = int(input("초를 입력 >> "))

hour = time // 3600
minitue = (time % 3600) // 60
second = (time % 3600) % 60

print("{}시간 {}분 {}초".format(hour,minitue,second))

초를 입력 >> 7533
2시간 5분 33초

\* 연산자가 문자열과 만나면

반복연산자로 사용됨

- 왼쪽에 있는 문자열을 오른쪽의 수만큼 반복

In [24]:
str1 = "Python"
num1 = 10

str1 * num1

'PythonPythonPythonPythonPythonPythonPythonPythonPythonPython'

In [25]:
str1 * 3

'PythonPythonPython'

반복연산자를 사용해서 아래와 같이 출력

\*<br>
\*\*<br>
\*\*\*<br>
\*\*\*\*<br>
\*\*\*\*\*<br>

In [29]:
print("*" * 1)
print("*" * 2)
print("*" * 3)
print("*" * 4)
print("*" * 5)

*
**
***
****
*****

### 지수 연산자 \*\* 

a ** x    ->  a에 x 승

In [30]:
print(3 ** 3)

27

In [32]:
# 원의 반지름을 입력받으세요
pi = 3.14
r = int(input("반지름 입력 >> "))

# 원의 넓이를 구해보세요
area = pi * (r ** 2)

print(area)

반지름 입력 >> 10
314.0

### 대입 (복합) 연산자

\=<br>
산술연자\= : +=, -=, *=, /=, //=, %=


변수명 = 값 또는 변수명

In [33]:
a = 10
a

10

In [34]:
b = a
b

10

In [35]:
# 복합연산자 : 산술연산자=

a = a + 10

a

20

In [36]:
b += 10    #b = b + 10

b

20

치환 : 두 개의 변수의 값을 맞바꾸는 것

In [42]:
a = 20
b = 30

# a와 b의 값을 서로 바꿀려면 ?

c = 0

c = a
a = b
b = c

a, b

(30, 20)

In [43]:
a = 10
b = 20
a, b = b, a

a, b

(20, 10)

비교 연산자 : 양쪽의 값의 크기를 비교하는 기능

- == (같다), \!= (같지 않다), > (크다), >= (크거나 같다), < (작다), <= (작거나 같다)
- 결과값으로 True나 False를 반환

In [50]:
a = 10
b = 20
c = 10

print(a == b)
print(a != b)
print(a > b)
print(a >= c)
print(a < b)
print(a <= b)

print(a > 10)

False
True
False
True
True
True
False

In [52]:
print (10 <= a)

True

논리연산자 : 양쪽의 논리를 비교하여 논리연산을 수행

- and : 양쪽의 논리가 모두 True인 경우만 True
- or : 양쪽의 논리가 모두 False인 경우만 False
- not : True이면 False로 False이면 True

In [55]:
num1 = 20
num2 = 30
num3 = 20

print(num1 == num2 and num1 == num3)
print(num1 == num2 or num1 == num3)

print(not num1 == num2)

False
True
True

삼항연산자

값 또는 변수 if 조건식 else 값 또는 변수

조건식은 비교연산자나 논리연산자로 구성

In [57]:
a = 11

"짝수" if a % 2 == 0 else "홀수"

'홀수'

In [60]:
money = 20000

# 만약에 돈이 10000원 이상이면 "택시"를 출력하고
# 10000원 미만이면 "버스"를 출력 (삼항연산자)

"택시" if money >= 10000 else "버스"

'택시'

[ 문제 ]

2개의 숫자를 입력받아서 큰 수를 출력해보세요

In [63]:
num1 = int(input("숫자1 입력 >> "))
num2 = int(input("숫자2 입력 >> "))

num = num1 if num1>num2 else num2

print("{}와 {}중에서 큰 수는 {}입니다".format(num1, num2, num))

숫자1 입력 >> 10
숫자2 입력 >> 20
10와 20중에서 큰 수는 20입니다

In [66]:
str1 ="Python"
str2 ="python"

"같다" if str1 == str2 else "다름"

'다름'