- 변수 : 1개의 데이터를 저장하는 공간
- 리스트/튜플/딕셔너리 : 여러 개의 데이터를 저장하는 공간

  - 리스트(list) : 가변공간 (변경(크기, 값)이 가능한 공간)
    - 대괄호를 사용하여 값들을 저장
  - 튜플 (tuple) : 불가변 공간 (변경(크기, 값)이 불가능한 공간)
    - 괄호를 사용하여 값들을 저장

### 리스트 (list)

- 대괄호를 이용해서 값을 할당
- 숫자와 문자를 모두 저장할 수 있음
- 리스트에 리스트를 저장할 수 있음
- 리스트 요소(값)을 접근하는 방법으로는 indexing, slicing 이 있음
  - indexing :  리스트에서 값을 하나를 가져오는 것 또는 위치를 찾은 것
  - slicing : 리스트에서 해당 범위의 값을 가져오는 것

리스트 생성 및 할당

In [123]:
list1 = []
list2 = [0, 1, 2, 3, 4]
list3 = ["Python", "C", "Java", "C++"]
list4 = [1, 2, "Python"]
list5 = [1, 2, ["Pyton", "Java"]]   # 2차원 리스트

리스트 접근

In [124]:
print(list2[2])
print(list2[-3])

print(list2[2] + list2[3])

print(list4[2])

# 2차원 리스트에 접근하기
print(list5[2])
print(list5[2][1])

2
2
5
Python
['Pyton', 'Java']
Java

In [125]:
list5 = [1, 2, 3, ["a", "b", "c"], 4, 5, ["d", "e"]]
list5

[1, 2, 3, ['a', 'b', 'c'], 4, 5, ['d', 'e']]

In [126]:
# 3
print(list5[2])
# c
print(list5[3][2])
# 5
print(list5[5])
# e
print(list5[6][1])

3
c
5
e

슬라이싱 : \[시작인덱스:끝인덱스+1\]

In [127]:
list6 = [1, 2, 3, 4, 5, 6, 7]

# 1, 2, 3
print(list6[0:3])
print(list6[:3])

# 4, 5, 6
print(list6[3:6])

# 6, 7
print(list6[5:])
print(list6[-2:])

[1, 2, 3]
[1, 2, 3]
[4, 5, 6]
[6, 7]
[6, 7]

리스트에서 + 연산자를 사용하면 ? -> 연결(결합) 연산자로 사용

In [128]:
list7 = [1, 2, 3]
list8 = [4, 5, 6, 7]

list7 + list8

[1, 2, 3, 4, 5, 6, 7]

자료관리 : 저장/추가, 검색/불어오기, 수정, 삭제

리스트에 값을 추가하기 
  
리스트명.append(값)

- 리스트의 마지막 위치에 값이 추가

In [129]:
list9 = [1, 2]

list9.append(30)

list9

[1, 2, 30]

리스트명.insert(index, 값) 

- 해당 index에 값을 추가

In [130]:
list9.insert(1, "Python")

list9

[1, 'Python', 2, 30]

In [131]:
list9.insert(2, ["C", "C#", "C++"])

list9

[1, 'Python', ['C', 'C#', 'C++'], 2, 30]

In [132]:
# 2차원 리스트에 값을 추가
list9[2].append("Basic")

list9

[1, 'Python', ['C', 'C#', 'C++', 'Basic'], 2, 30]

In [133]:
list9[2].insert(2, "Delphi")

list9

[1, 'Python', ['C', 'C#', 'Delphi', 'C++', 'Basic'], 2, 30]

리스트의 값을 수정하기

리스트명\[인덱스\] = 값

- 해당 인덱스의 위치의 값을 덮어쓰기

In [134]:
list9[1] = "파이썬"

list9

[1, '파이썬', ['C', 'C#', 'Delphi', 'C++', 'Basic'], 2, 30]

리스트명\[시작인덱스:끝인덱스+1\] = \[값\]

In [135]:
# list9[0:2] = 7   # 왼쪽은 리스트인데 오른쪽이 상수값 -> 에러

list9[0:2] = [7, "Java"]

list9

[7, 'Java', ['C', 'C#', 'Delphi', 'C++', 'Basic'], 2, 30]

In [136]:
list9[0:2] = [7]

list9

[7, ['C', 'C#', 'Delphi', 'C++', 'Basic'], 2, 30]

In [137]:
list9 = list9 + [20, 30]

list9

[7, ['C', 'C#', 'Delphi', 'C++', 'Basic'], 2, 30, 20, 30]

리스트 값 삭제

- del 리스트명\[인덱스\] : 해당 인덱스를 삭제
- 리스트명.remove(값) : 첫번째 해당 값을 삭제

In [117]:
#del list9[1]

#list9

[7, 2, 30, 20, 30]

In [138]:
list9.remove(30)

list9

[7, ['C', 'C#', 'Delphi', 'C++', 'Basic'], 2, 20, 30]

In [119]:
#list9.remove(100)

In [139]:
list9

[7, ['C', 'C#', 'Delphi', 'C++', 'Basic'], 2, 20, 30]

In [140]:
list9[1].remove("C++")

list9

[7, ['C', 'C#', 'Delphi', 'Basic'], 2, 20, 30]

In [141]:
del list9[1][1]

list9

[7, ['C', 'Delphi', 'Basic'], 2, 20, 30]

In [83]:
list9 = []

list9

[]

In [142]:
list10 = [20, 10, 30, 14, 20, 33]

list10

[20, 10, 30, 14, 20, 33]

In [143]:
list10.remove(33)

list10

[20, 10, 30, 14, 20]

In [144]:
# 지울값이 2개 이상 있다면 첫 번째  것만 삭제
list10.remove(20)

list10

[10, 30, 14, 20]

In [145]:
# 14의 인덱스가 2이므로
del list10[2]

list10

[10, 30, 20]

In [146]:
list10 = [20, 10, [30, 14, 20], 33]

list10

[20, 10, [30, 14, 20], 33]

In [147]:
del list10[2][1]

list10

[20, 10, [30, 20], 33]

In [148]:
list10[2].remove(20)
list10

[20, 10, [30], 33]

정렬 (sorting) : 순서대로 값을 배치하는 작업

- 오름차순 정렬 : 작은 값부터 배치하는 것
- 내림차순 정렬 : 큰 값부터 배치하는 것

- 정렬은 값이 문자인 경우는 한글순 또는 알파벳 순으로 적용
- 숫자와 문자 같이 있는 경우는 숫자 -> 문자 순으로 적용

In [149]:
list11 = [20, 10, 30, 14, 20, 33]

#  오름차순 정렬
list11.sort()

list11

[10, 14, 20, 20, 30, 33]

In [150]:
# 앞과 뒤의 순서를 뒤집기 -> reverse()
list11 = [20, 10, 30, 14, 20, 33]

list11.reverse()

list11

[33, 20, 14, 30, 10, 20]

In [152]:
list11 = [20, 10, 30, 14, 20, 33]

# 내림차순
list11.sort()
list11.reverse()

list11

[33, 30, 20, 20, 14, 10]

In [156]:
list12 = [5, 6, 2, 1, 5, 7, 8]

# 오름차순 정렬
list12.sort()

list12

[1, 2, 5, 5, 6, 7, 8]

In [157]:
# 내림차순 정렬
list12.reverse()

list12

[8, 7, 6, 5, 5, 2, 1]

해당 값의 인덱스를 반환 : index(값)

- 값이 2개 이상 있다면 첫 번째 인덱스를 반환

In [164]:
list12 = [5, 6, 2, 1, 5, 7, 8]

list12.index(7)

5

pop() : 리스트의 마지막 값을 반환하고 해당 값을 삭제

In [161]:
list12 = [5, 6, 2, 1, 5, 7, 8]

list12.pop()

8

In [162]:
list12

[5, 6, 2, 1, 5, 7]

리스트 값의 개수를 반환 : len()

In [163]:
len(list12)

6

회원 관리 프로그램

- 메뉴를 출력 (데이터 저장, 검색, 수정, 삭제, 종료)
- 메뉴를 선택
- 만약 저장을 선택했다면 회원 이름을 입력받음
- 입력받은 리스트에 저장하고 리스트 내용을 출력
- 만약 검색을 선택했다면 회원 이름을 입력받음
- 입력받은 회원 이름의 인덱스를 출력
- 만약 수정을 선택했다면 인덱스와 새 회원이름를 입력받음
- 해당 인덱스에 새 회원이름으로 변경하고 리스트 내용을 출력
- 만약 삭제를 선택했다면 인덱스를 입력받음
- 입력받은 인덱스를 삭제하고 리스트 내용을 출력
- 만약 종료를 선택했다면 종료했습니다를 출력

In [165]:
# 메뉴를 출력 (데이터 저장, 검색, 수정, 삭제, 종료)
print("[1]저장\t[2]검색\t[3]수정\t[4]삭제\t[5]종료")

[1]저장	[2]검색	[3]수정	[4]삭제	[5]종료

In [186]:
# 메뉴를 선택
num = int(input("메뉴를 선택하세요 >> "))

메뉴를 선택하세요 >> 4

In [170]:
nameList = []   # 빈 리스트

In [176]:
# 만약 저장을 선택했다면 회원 이름을 입력받음
if num == 1:
    memberName = input("회원이름 입력 >> ")
 
    # 입력받은 리스트에 저장
    nameList.append(memberName)
    
    # 리스트 내용을 출력
    print(nameList)

회원이름 입력 >> 넘파이
['홍길동', '김유신', '이순신', '파이썬', '넘파이']

In [178]:
# 전체 회원수 출력
print("전체 회원수 : {}명".format(len(nameList)))

전체 회원수 : 5명

In [179]:
# 회원 이름을 ㄱ ㄴ ㄷ 순으로 정렬 (오름차순)
nameList.sort()
nameList

['김유신', '넘파이', '이순신', '파이썬', '홍길동']

In [180]:
# 회원 이름을 ㅎ ㅍ ㅋ 순으로 정렬 (내림차순)
nameList.reverse()
nameList

['홍길동', '파이썬', '이순신', '넘파이', '김유신']

In [183]:
# 만약 검색을 선택했다면 회원 이름을 입력받음
# 입력받은 회원 이름의 인덱스를 출력
if num == 2:    # 검색
    name = input("이름을 입력하세요 >> ")
    
    nameIndex = nameList.index(name)
    
    print("{} 회원의 index는 {}입니다".format(name, nameIndex))

이름을 입력하세요 >> 파이썬
파이썬 회원의 index는 1입니다

In [185]:
# 만약 수정을 선택했다면 인덱스와 새 회원이름를 입력받음
# 해당 인덱스에 새 회원이름으로 변경하고 리스트 내용을 출력
if num == 3:
    nameIndex = int(input("인덱스를 입력하세요 >> "))
    name = input("새 회원 이름을 입력하세요 >> ")
    
    nameList[nameIndex]= name
    
    print(nameList)

인덱스를 입력하세요 >> 1
새 회원 이름을 입력하세요 >> Python
['홍길동', 'Python', '이순신', '넘파이', '김유신']

In [187]:
# 만약 삭제를 선택했다면 인덱스를 입력받음
# 입력받은 인덱스를 삭제하고 리스트 내용을 출력
if num == 4:
    nameIndex = int(input("삭제할 인덱스를 입력 >> "))
    #name = input("삭제할 이름을 입력 >> ")
    
    # 이름 (값)을 입력받았다면 remove()로 삭제
    # 인덱스를 입력받았다면 del로 삭제
    
    del nameList[nameIndex]
    #nameList.remove(name)
    
    print(nameList)

인덱스를 입력 >> 1
['홍길동', '이순신', '넘파이', '김유신']

In [188]:
if num == 5:
    print("종료하였습니다")

### 튜플 (tuple)

- 사용법은 리스트와 동일
- 차이점 : 수정, 삭제, 추가 불가능 (원래 값 그대로 사용)
- 차이점 : 괄호를 사용해서 값을 할당

튜플 선언 및 값 할당

In [189]:
tuple1 = ()
tuple2 = (1, 2, 3, 4)
tuple3 = ("파이썬", "Java", "C")
tuple4 = (1, 2, "파이썬")
tuple5 = (1, 2, (3, 4, 5))

튜플 접근

In [191]:
# tuple5에서 
# 2
print(tuple5[1])
# 4
print(tuple5[2][1])

2
4

In [194]:
#tuple2
# 1, 2, 3
print(tuple2[0:3])
print(tuple2[:3])
# 3, 4
print(tuple2[2:])

(1, 2, 3)
(1, 2, 3)
(3, 4)

In [195]:
# 튜플에 저장된 데이터의 수
len(tuple2)

4

In [196]:
# 튜플은 데이터를 추가, 수정, 삭제가 불가능
tuple2[1] = 10

TypeError: 'tuple' object does not support item assignment

그래도 튜플의 값을 변경해야 하겠다면 ?

- 리스트로 변환해서 변경하고 다시 튜플로 변환
- list() : 데이터를 리스트로 변환
- tuple() : 데이터를 튜플로 변환

In [197]:
tuple3 = ("파이썬", "Java", "C")

# 튜플를 리스트로 변환
list01 = list(tuple3)
list01

['파이썬', 'Java', 'C']

In [198]:
# 파이썬 -> Python으로 변경
list01[0] = "Python"

# 리스트를 튜플로 변환
tuple3 = tuple(list01)

tuple3

('Python', 'Java', 'C')

### 복습

- 변수 : 1개의 데이터를 저장하는 공간
- 배열 : 여러개 데이터를 저장하는 공간 (list/tuple/dictionary)

- list 
  - 대괄호를 이용해서 정의
  - 숫자, 문자, 숫자+문자, 리스트 저장 가능
  - 수정, 삭제, 저장, 검색이 가능
- tuple
  - 괄호를 이용해서 정의
  - 숫자, 문자, 숫자+문자, 리스트 저장 가능
  - 수정, 삭제, 저장이 불가능
  - 검색만 가능

In [1]:
# 리스트를 선언
list1 = []
list2 = [1, 2, 3, 4]
list3 = ["1", "2", "3", "4"]
list4 = [1, 2, "3", "4"]
list5 = [1, [2, "3"], "4"]

In [3]:
# 리스트 추가 
# 리스트명.append(값) : 리스트의 마지막에 값을 추가
# 리스트명.insert(인덱스, 값) : 해당 인덱스 위치에 값을 추가
list2.append(20)
print(list2)

list2.insert(2, 100)
print(list2)

[1, 2, 3, 4, 20, 20]
[1, 2, 100, 3, 4, 20, 20]

In [4]:
# 리스트 값을 변경
# 리스트명[인덱스] = 값1 : 해당 인덱스이 값을 값1로 변경
list2[0] = 50
print(list2)

[50, 2, 100, 3, 4, 20, 20]

In [7]:
# 리스트 값을 삭제 
# del 리스트명[인덱스] : 해당 인덱스의 값을 삭제
# 리스트명.remove(값) : 리스트에서 첫 번째 해당 값을 삭제
print(list3)

#del list3[2]
#print(list3)

list3.remove('2')
print(list3)

['1', '2', '4']
['1', '4']

In [12]:
# 리스트 정렬
# 리스트명.sort() : 리스트를 크기순으로 오름차순 정렬
# 리스트명.reverse() : 리스트의 앞뒤 순서를 반대로 뒤집는 기능
print(list2)

# 오름차순 정렬
list2.sort()
print(list2)

# 내림차순 정렬
list2.sort()
list2.reverse()
print(list2)

# 문자는 영문자 -> 한글
# 영문자인경우 대문자 -> 소문자
list6 = ["Python", "python", "Java", "홍길동", "사자"]
list6.sort()
print(list6)

[100, 50, 20, 20, 4, 3, 2]
[2, 3, 4, 20, 20, 50, 100]
[100, 50, 20, 20, 4, 3, 2]
['Java', 'Python', 'python', '사자', '홍길동']

In [13]:
# 내부 리스트는 정렬이 안됨
list7 = ["Python", "python", ["Java", "홍길동"], "사자"]
list7.sort()
print(list7)

TypeError: '<' not supported between instances of 'list' and 'str'

In [16]:
# 리스트 검색 
# 리스트명.index(값) : 해당 값의 첫 번째 인덱스를 반환
# 리스트명.pop() : 리스트에서 마지막 인덱스의 값을 반환하고 삭제
list6 = ["Python", "python", "Java", "홍길동", "사자"]

print(list6.index("Java"))

print(list6.pop())
print(list6)

2
사자
['Python', 'python', 'Java', '홍길동']

In [17]:
# 리스트의 크기 -> len(리스트명)
print(len(list6))

4

In [19]:
# 튜플 선언하고 할당
tuple1 = ()
tuple2 = (1, 2, 3, 4)
tuple3 = ("1", "2", "3", "4")
tuple4 = (1, 2, "3", "4")
tuple5 = (1, (2, "3"), "4")

In [24]:
# 인덱싱 : 튜플명[인덱스]
print(tuple2[3])

# 슬라이싱 : 튜플명[시작인덱스:끝인덱스+1]
print(tuple2[0:2])
print(tuple2[:2])
print(tuple2[2:])

4
(1, 2)
(1, 2)
(3, 4)

In [25]:
# 2차원 데이터 접근
tuple5 = (1, (2, "3"), "4")

# "3"
tuple5[1][1]

'3'

In [26]:
# 튜플은 수정,삭제,저장이 불가능
del tuple5[2]

TypeError: 'tuple' object doesn't support item deletion

in 과 not in

- in : 문자열, 리스트, 튜플에 해당 값이 있으면 True
- not in : 문자열, 리스트, 튜플에 해당 값이 없으면 True

값 in 문자열/리스트/튜플명

In [27]:
str1 = "Python is easy"
tuple2 = (1, 2, 3, 4)
list6 = ["Python", "python", "Java", "홍길동", "사자"]

In [28]:
"Python" in str1

True

In [31]:
"Python" not in tuple2

True

In [30]:
"Python" in list6

True

list6에 사용자가 입력한 값이 있다면 해당값이 있다고 출력하고 그렇지 않다면 없다고 출력해보세요

In [33]:
value = input("값을 입력하세요 >> ")

if value in list6:
    print("{} 값이 list6에 있습니다".format(value))
else:    
    print("{} 값이 list6에 없습니다".format(value))

값을 입력하세요 >> 홍길동
홍길동 값이 list6에 있습니다